@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
* {
  box-sizing: border-box;
}

html {
  font-family: 'Comfortaa', cursive;
}

body {
  margin: 0;
  background-color: #6d597a;
}

